<center>
<img src="/images/mashup.jpg"  usemap="#mashup" id="mashup" />

<map id="mashup" name="mashup">
<area shape="poly" alt="Eliza Carthy" coords="64,593,64,577,45,557,43,530,19,537,10,542,3,540,3,465,13,482,33,460,50,458,48,412,43,407,51,401,53,393,43,387,40,379,47,373,64,376,71,349,85,333,104,328,121,333,138,346,146,360,146,378,149,391,183,356,185,363,154,395,155,413,162,426,169,428,176,420,177,429,189,441,201,464,205,505,198,540,190,556,197,572,193,581,198,593,84,593" href="images/elizacarthy.jpg" title="Eliza Carthy" />
<area shape="poly" alt="Kate Rusby" coords="209,334,156,334,137,326,112,327,106,322,84,318,80,301,95,236,108,217,133,206,123,201,112,183,113,167,119,159,123,136,148,119,167,116,184,123,191,140,199,148,203,150,203,159,203,164,204,177,198,185,197,190,185,201,214,212,223,222,226,305,211,321" href="images/katerusby.jpg" title="Kate Rusby - photo by Andy Snaith" />
<area shape="poly" alt="London Community Gospel Choir" coords="243,218,258,199,267,166,250,145,255,126,253,124,281,87,308,59,310,55,289,29,289,23,297,20,319,44,325,50,331,53,333,57,340,61,340,67,346,70,356,81,383,69,400,68,410,73,419,87,429,101,439,101,451,106,459,121,460,134,460,161,450,171,438,170,411,189,399,177,394,219" href="images/gospelchior.jpg" title="London Community Gospel Choir" />
<area shape="poly" alt="Eric Bibb" coords="454,323,455,238,467,229,486,227,501,221,489,197,456,203,454,170,470,163,460,125,461,106,475,96,495,92,507,81,530,83,549,111,576,107,587,110,592,117,582,128,568,147,571,161,567,169,578,198,590,197,605,209,624,211,636,220,601,220,592,230,594,240,589,246,589,253,581,260,579,276,571,284,574,295,571,297,560,296,533,300,523,312,521,326,495,344,482,323,467,316" href="images/ericbibb.jpg" title="Eric Bibb" />
<area shape="poly" alt="Albert Lee" coords="663,338,668,344,684,349,690,359,696,385,694,454,701,466,699,477,693,479,680,524,644,530,642,560,629,594,484,594,482,587,464,571,462,558,468,538,476,525,482,523,490,504,480,498,480,493,485,475,492,469,484,471,472,456,469,448,471,442,474,429,481,428,527,362,531,342,529,331,525,322,530,306,537,304,549,304,550,301,570,301,572,298,577,297,578,293,574,285,582,277,584,259,592,253,591,247,597,239,594,230,603,221,638,221,659,233,670,245,679,269,678,300,669,327" href="images/albertlee.jpg" title="Albert Lee" />
<area shape="poly" alt="Midge Ure" coords="397,506,401,407,417,403,422,406,431,404,444,403,461,402,472,405,484,405,501,393,499,389,492,391,484,387,495,380,494,377,469,387,454,386,438,377,402,330,375,318,369,301,375,280,369,266,359,260,346,261,338,270,335,284,336,303,336,307,328,314,324,323,306,329,290,348,288,352,280,353,267,360,245,371,222,375,209,368,200,362,198,365,207,373,205,377,189,382,191,392,198,395,199,398,211,396,223,391,253,389,270,388,280,383,287,387,302,369,304,391,278,392,266,398,257,412,255,434,257,451,250,455,258,457,268,479,280,488,297,489,308,483,315,471,322,460,330,460" href="images/midgeure.jpg" title="Midge Ure" />
<area shape="default" nohref="nohref" alt="" />
</map>

</center>
<div id="photocredits">
    <span id="pc_title">Some earlier shows: Photo Credits</span> - 
	<span>Kate Rusby</span> by Andy Snaith,
	<span>Albert Lee</span> & <span>Midge Ure</span> by Ron Hill,
	<span>Eric Bibb</span>, <span>Eliza Carthy</span> & <span>London Community Gospel Choir</span> - Unknown
</div>
